*{
padding: 0;
margin: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: cornflowerblue;
}
.Section-One{
    display: block;
    text-align: center;
    padding: 20px;

}
h1,h3,p{
    padding: 10px;
    text-align: center;
    color: white;
}
iframe{
    display: inline-block;
    margin-left: 35%;
   
}
.video{
    background-color: darkslateblue;
    padding: 10px;
}
.para-two{
    padding: 20px;
    color: white;
}
.Section-Two{
    display: block;
    padding: 20px;
    text-align: center;
}

ul{
    padding: 15px;
    color: white;
}
li{
    list-style: none;
    padding: 5px;

}
.Section-Three{
    display: block;
    text-align: center;
    padding: 10px;
}
table{
    border: 2px solid black;
}
th,tr,td{
    border: 1px solid black;
    padding: 10px;
}
th{
    color: white;
}
tr,td{
    color: indigo;
}

form{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.Section-four{
    display: block;
    text-align: center;
    padding: 30px;
}

