*{
padding: 0;
margin: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}
.Section-One{
    display: block;
    text-align: center;
    padding: 20px;
}
h1,h3,p{
    padding: 10px;
    text-align: center;
}
iframe{
    display: inline-block;
    margin-left: 35%;
}
.para-two{
    padding: 20px;
}
.Section-Two{
    display: block;
    padding: 20px;
    text-align: center;
}

ul{
    padding: 15px;
}
li{
    list-style: none;
}
.Section-Three{
    display: inline;
    text-align: center;
    padding: 10px;
}
table{
    border: 2px solid black;
}
th,tr,td{
    border: 1px solid black;
    padding: 10px;
}

form{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.Section-four{
    display: block;
    text-align: center;
    padding: 50px;
    font-size: large;
    gap: 10px;
}

